.article__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #252525;
    text-align: right;
}

.article__span {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #E91609;
}

.article-two__img {
    position: relative;
    top: 100px;
}

.article-one__img {
    position: absolute;
}

.article-three__img {
    position: relative;
    bottom: 450px;
    width: 1000px;
    left: 30%;
    height: 734px;
}

.article-list__list {
    position: relative;
}

.article-item__item {
    margin-top: -93%;
    left: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 500px;
    color: #ffff;
    gap: 20px;
}

.article-list__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.article-list__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #FFFFFF99;
    width: 464px;
}

.article-one__item {
    margin-top: -75%;
    left: 55%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 500px;
    color: #ffff;
    gap: 20px;
}

.article-two__item {
    margin-top: -60%;
    left: 48%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 500px;
    color: #ffff;
    gap: 20px;
}

@media (max-width: 1200px) {
    .article__title {
        font-size: 32px;
        text-align: center;
    }

    .article__span {
        font-size: 32px;
    }

    .article-three__img {
        width: 80%;
        left: 10%;
        bottom: 400px;
        height: auto;
    }

    .article-two__img {
        top: 80px;
    }

    .article-one__img {
        position: relative;
        top: 0;
    }

    .article-item__item,
    .article-one__item,
    .article-two__item {
        position: relative;
        margin-top: 20px;
        left: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .article-list__text {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .article__title {
        font-size: 28px;
    }

    .article__span {
        font-size: 28px;
    }

    .article-three__img {
        width: 100%;
        left: 0;
        bottom: 350px;
    }

    .article-list__text {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .article__title {
        font-size: 22px;
    }

    .article__span {
        font-size: 22px;
    }

    .article-three__img {
        width: 100%;
        left: 0;
        bottom: 300px;
    }

    .article-list__text {
        font-size: 14px;
        width: 100%;
    }

    .article-item__item,
    .article-one__item,
    .article-two__item {
        flex-direction: column;
        gap: 15px;
    }
}