.article__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #252525;
    text-align: right;
}

.article__span {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #E91609;
}

.article-two__img {
    position: relative;
    top: 100px;
}

.article-one__img {
    position: absolute;
}

.article-three__img {
    position: relative;
    bottom: 450px;
    width: 1000px;
    left: 30%;
    height: 734px;
}

.article-list__list {
    position: relative;
}

.article-item__item {
    margin-top: -93%;
    left: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 500px;
    color: #ffff;
    gap: 20px;
}

.article-list__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.article-list__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #FFFFFF99;
    width: 464px;
}

.article-one__item {
    margin-top: -75%;
    left: 55%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 500px;
    color: #ffff;
    gap: 20px;
}

.article-two__item {
    margin-top: -60%;
    left: 48%;
    position: absolute;
    display: flex;
    align-items: center;
    width: 500px;
    color: #ffff;
    gap: 20px;
}

@media (max-width: 1200px) {
    .article__list{
        background: #252525; 
    }
    .article__title {
        font-size: 32px;
        text-align: center;
    }

    .article__span {
        font-size: 32px;
    }

    .article-three__img {
        display: none;
    }

    .article-two__img,
    .article-one__img {
        display: none;
    }

    .article__icon {
        width: 80px;
        height: 80px;
        margin: 0 auto 20px auto;
        display: block;
    }

    .article-item__item,
    .article-one__item,
    .article-two__item {
        position: static;
        width: 80%;
        margin: 40px ;
        align-items: center;
        text-align: center;
        gap: 20px;
        }

    .article-list__title {
        font-size: 24px;
    }

    .article-list__text {
        width: 100%;
        font-size: 18px;
        }
}

@media (max-width: 768px) {
    .article__title {
        font-size: 28px;
        text-align: center;
    }

    .article__span {
        font-size: 28px;
    }

    .article-list__text {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }

    .article-item__item,
    .article-one__item,
    .article-two__item {
        gap: 15px;
        margin-bottom: 40px;
    }
}

@media (max-width: 480px) {
    .article__title {
        font-size: 22px;
    }

    .article__span {
        font-size: 22px;
    }

   

    .article-list__text {
        font-size: 14px;
    }

    .article-item__item,
    .article-one__item,
    .article-two__item {
        align-items: center;
        text-align: center;
        gap: 15px;
        margin-bottom:20%;
    }

    .article-list__title {
        font-size: 20px;
    }
}

