aside {
    margin-top: -180px;
}

.aside__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 50px;
}

.aside__span {
    color: #E91609;
}

.aside__item {
    background: url("../modules/aside.jpg");
    width: 433px;
    height: 580px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.aside__item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.aside__item * {
    position: relative;
    z-index: 1;
}

.aside-list__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 60px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.aside-list__span {
    color: #E91609;
}

.aside-list__text {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #FFFFFF;
    width: 250px;
    left: 60px;
}

.aside-list__button {
    width: 218px;
    height: 37px;
    background: #E91609;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 250px;
    left: 80px;
    position: relative;
    overflow: hidden;
    transition: all 0.5 ease;
}

.aside-list__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75px;
    width: 50px;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(-200deg);
    transition: 0.7s;
}

.aside-list__button:hover::before {
    left: 100%;
}

.aside-list__button:hover {
    background-color: #FFFFFF;
    color: #E91609;
    border: 2px solid #E91609;
}

.aside-list-one__button {
    width: 218px;
    height: 37px;
    background: #E91609;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 170px;
    left: 80px;
    position: relative;
    overflow: hidden;
    transition: all 0.5 ease;
}

.aside-list-one__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75px;
    width: 50px;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(-200deg);
    transition: 0.7s;
}

.aside-list-one__button:hover::before {
    left: 100%;
}

.aside-list-one__button:hover {
    background-color: #FFFFFF;
    color: #E91609;
    border: 2px solid #E91609;
}

.aside-list-two__button {
    width: 218px;
    height: 37px;
    background: #E91609;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    top: 90px;
    left: 80px;
    position: relative;
    overflow: hidden;
    transition: all 0.5 ease;
}

.aside-list-two__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75px;
    width: 50px;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(-200deg);
    transition: 0.7s;
}

.aside-list-two__button:hover::before {
    left: 100%;
}

.aside-list-two__button:hover {
    background-color: #FFFFFF;
    color: #E91609;
    border: 2px solid #E91609;
}

.aside__list {
    display: flex;
    gap: 40px;
    margin-bottom: 70px;
}

.aside__text {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 50px;
}

.aside-one__text {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: Light;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #252525;
    margin-bottom: 20px;
}

.aside-text__span {
    color: #E91609;
    width: 48px;
    font-size: 30px;
}

.aside__button {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 390px;
    height: 27px;
    background: #E91609;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.5 ease;
}

.aside__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75px;
    width: 50px;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(-200deg);
    transition: 0.7s;
}

.aside__button:hover::before {
    left: 100%;
}

.aside__button:hover {
    background-color: #FFFFFF;
    color: #E91609;
    border: 2px solid #E91609;
}

@media (max-width: 1200px) {
    .aside{
        margin-top: 100px;
    }
    .aside__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .aside__item {
        width: 350px;
        height: auto;
    }

    .aside-list__title,
    .aside-list__text,
    .aside-list__button,
    .aside-list-one__button,
    .aside-list-two__button {
        left: 30px;
        width: calc(100% - 60px);
    }

    .aside-list__text {
        width: auto;
    }
}

@media (max-width: 992px) {
    .aside{
        margin-top: 100px;
    }
    .aside__list {
        gap: 20px;
    }

    .aside__item {
        width: 300px;
    }

    .aside-list__title,
    .aside-list__text {
        font-size: 28px;
    }

    .aside-list__button,
    .aside-list-one__button,
    .aside-list-two__button {
        font-size: 20px;
        width: 180px;
    }
}

@media (max-width: 768px) {
    .aside{
        margin-top: 100px;
    }
    .aside__list {
        flex-direction: column;
        align-items: center;
    }

    .aside__item {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }

    .aside-list__title,
    .aside-list__text,
    .aside-list__button,
    .aside-list-one__button,
    .aside-list-two__button {
        left: 20px;
        width: calc(100% - 40px);
    }

    .aside__button {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .aside{
        margin-top: 150px;
    }

    .aside__title,
    .aside__text,
    .aside-one__text {
        font-size: 24px;
        text-align: center;
    }

    .aside-list__title {
        font-size: 24px;
        margin-top: 20px;
    }

    .aside-list__text {
        font-size: 16px;
    }

    .aside-list__button,
    .aside-list-one__button,
    .aside-list-two__button {
        font-size: 16px;
        width: 100%;
    }
}