.header {
    background-image: url("../modules/headerfon.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    margin-bottom: -20px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.header * {
    position: relative;
    z-index: 1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    font-family: "League Spartan";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    transition: color 0.4s ease;
}

.header__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #E91609;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

.header__link:hover {
    color: #E91609;
}

.header__link:hover::after {
    width: 100%;
}

.header-list__link {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.header-list__link:hover {
    color: #E91609;
}

.header__button {
    width: 200px;
    height: 37px;
    border-radius: 20px;
    background: #E91609;
    font-family: "Montserrat";
    border: none;
    color: #FFFFFF;
    margin-top: 10px;
}

.header__button:hover {
    background: #FFFFFF;
    color: #E91609;
}

.header__list {
    display: flex;
    gap: 40px;
}

.header__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 990px;
    margin-top: 100px;
}

.header__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    line-height: 162%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 700px;
    margin-bottom: 50px;
}

.header-box__link {
    border: 2px solid #E91609;
    background-color: #E91609;
    color: #FFFFFF;
    border-radius: 25px;
    border-width: 10px;
    font-family: "Montserrat";
}