.main {
    background: #E3E3E3;
    margin-top: -20px;
    height: 730px;
    margin-bottom: 50px;
}

.main__title {
    text-align: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 100px;
    margin-top: 40px;
}

.main__span {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #E91609;
}

.main__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.main__item {
    width: 365px;
}

.main-list__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 10px;
}

.main-list__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #25252599;
}

@media (max-width: 1200px) {
    .main {
        height: auto;
        padding-bottom: 50px;
    }

    .main__title {
        font-size: 32px;
        margin-bottom: 80px;
    }

    .main__list {
        gap: 40px;
    }

    .main__item {
        width: 45%;
    }

    .main-list__title {
        font-size: 28px;
    }

    .main-list__text {
        font-size: 18px;
        line-height: 130%;
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;
        padding: 40px 0;
    }

    .main__title {
        font-size: 28px;
        margin-bottom: 60px;
    }

    .main__list {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .main__item {
        width: 80%;
        text-align: center;
    }

    .main-list__title {
        font-size: 26px;
    }

    .main-list__text {
        font-size: 16px;
        line-height: 140%;
    }
}

@media (max-width: 480px) {
    .main__title {
        font-size: 22px;
        margin-bottom: 40px;
    }

    .main__item {
        width: 90%;
    }

    .main-list__title {
        font-size: 22px;
    }

    .main-list__text {
        font-size: 15px;
        line-height: 145%;
    }
}