.section {
    margin-bottom: 70px;
}

.section__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 30px;
    text-align: center;
}

.section__span {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #E91609;
}

.section__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #252525;
    margin-bottom: 70px;
    text-align: center;
}

.section__list {
    display: flex;
    gap: 60px;
}

.section-one__item {
    background: url("../modules/sectionone.jpg");
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

}

.section-one__item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 0;
}

.section-one__item * {
    position: relative;
    z-index: 1;
}

.section-list__title {
    margin-top: 160px;
    left: 60px;
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #E91609;
    margin-bottom: 10px;
}

.section-list__text {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #252525;
    margin-bottom: 40px;
    left: 60px;
}

.section-list-two__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #252525;
    margin-bottom: 50px;
    width: 380px;
    left: 60px;
}

.section-list-three__text {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #252525;
    left: 60px;
    margin-bottom: 50px;
}

.section-list__span {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 65px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;
    color: #252525;
}

.section-list-four__text {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #252525;
    width: 350px;
    left: 60px;
}

.section-two__item {
    background: url("../modules/sectiontwo.jpg");
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

}

.section-two__item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: 0;
}

.section-two__item * {
    position: relative;
    z-index: 1;
}

.section-two__text {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: #252525;
    margin-top: 60px;
    width: 580px;
    margin-left: 290px;
    margin-bottom: 30px;
}

.section__button {
    position: relative;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    width: 320px;
    height: 37px;
    border-radius: 20px;
    background-color: #E91609;
    color: #FFFFFF;
    border: none;
    overflow: hidden;
    transition: all 0.5s ease;
    margin-left: 420px;
}

.section__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75px;
    width: 50px;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transform: skewX(-20deg);
    transition: 0.7s;
}

.section__button:hover::before {
    left: 100%;
}

.section__button:hover {
    background-color: #FFFFFF;
    color: #E91609;
    border: 2px solid #E91609;
}

@media (max-width: 1200px) {
    .section__list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .section-one__item,
    .section-two__item {
        width: 48%;
        height: auto;
    }

    .section-list-two__text,
    .section-list-four__text {
        width: 90%;
    }

    .section-two__text {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .section__button {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

@media (max-width: 768px) {

    .section-one__item,
    .section-two__item {
        width: 90%;
        height: auto;
    }

    .section-list__title,
    .section-list__text,
    .section-list-two__text,
    .section-list-three__text,
    .section-list-four__text {
        font-size: 16px;
        line-height: 140%;
        left: 20px;
    }

    .section-list__span {
        font-size: 50px;
    }

    .section__title {
        font-size: 28px;
    }

    .section__span {
        font-size: 28px;
    }

    .section__text {
        font-size: 16px;
        margin-bottom: 50px;
    }

    .section__button {
        width: 280px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {

    .section-one__item,
    .section-two__item {
        width: 100%;
        height: auto;
    }

    .section-list__title {
        font-size: 22px;
        margin-top: 120px;
    }

    .section-list__span {
        font-size: 40px;
    }

    .section-list__text,
    .section-list-two__text,
    .section-list-three__text,
    .section-list-four__text {
        font-size: 14px;
        width: 95%;
        left: 10px;
    }

    .section__title {
        font-size: 22px;
    }

    .section__span {
        font-size: 22px;
    }

    .section__text {
        font-size: 14px;
    }

    .section__button {
        width: 240px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}